/* .todoComponent {
    border: 1px solid #8aecff;
}

.Todo {
    display: inline-block;
    margin-left: 10px;
}

.deleteIcon {
    margin: auto;
    display: inline-block;
    margin-right: auto;
    height: 100%;
    margin-top: auto;

} */
.ListComponent {
    width: 100%;
}